.Section {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Card {
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.Container{
    scroll-snap-align: center;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
      
.Left {
    flex: 1;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 30px;
} 

.Right {
    flex: 1;
    scroll-snap-align: center;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.h1 {
    font-size: 74px;
}

.List {
    font-size: medium;
    color: white;
    list-style: none;
    text-align: left;
}

li::before{
  
    content: "\00BB";
}

.Img {
    width: 600px;
    height: 600px;
    animation: 1s infinite ease alternate bounce;
}

@-webkit-keyframes bounce {
    100%{
        transform: translateY(20px)
      }
}

@-moz-keyframes bounce {
    100%{
        transform: translateY(20px)
      }
}

@-o-keyframes bounce {
    100%{
        transform: translateY(20px)
      }
}
@keyframes bounce {
    100%{
        transform: translateY(20px)
      }
}

.animated.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}


