
.navSection{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #edeff2;
  z-index: 1;
  height: 45px;
  position: fixed;
  padding: 15px;
  }
  .companyTitle{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #69b9ff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .menuItemsBox{
    display: inline-flexbox;
  }
  .menuItems{
    position: relative;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      color: #222222;
      padding: 20px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
  }