.Section {
    display: flex;
    justify-content: center;
}

.Container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.Links {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 45lh;
}
.Logo {
    height: 50px;
    width: 50px;
}

.Button-div {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}